Repository urtokk/puppet_forge_updates, changes with the labels that .github/labeler.yml gives for each.
All labels: puppet_module, ci, docs, dependencies, tests, release, pre-commit, deny

test: add CLI integration and edge case unit tests for improved coverage
  src/puppet_module.rs
  tests/cli.rs
Labels: puppet_module, tests

chore(ci): make minimal-versions build optional in separate job
  .github/workflows/ci.yml
Labels: ci

fix(error-handling): robustere Fehlerbehandlung für ungültige Modul-Slugs
  Cargo.lock
  Cargo.toml
  src/puppet_module.rs
Labels: puppet_module, dependencies, tests

docs(copilot): add Copilot instructions for commit and Rust best practices
  .github/copilot-instructions.md
Labels: none

ci: trenne minimal-versions und release-jobs von Hauptpipeline, parallelisiere CI
  .github/workflows/ci.yml
Labels: ci

ci(actionlint): installiere immer die Linux-Version im CI-Job
  .github/workflows/ci.yml
Labels: ci

fix(cli): verhindere Panics bei fehlenden oder Hilfe-Argumenten, nutze args.first() für idiomatischen Zugriff
  .github/copilot-instructions.md
  src/main.rs
Labels: none

ci(actionlint): installiere actionlint zuverlässig über offizielles Install-Skript
  .github/workflows/ci.yml
Labels: ci

fix(cli): gebe exit code 1 bei fehlenden Argumenten für korrekte Test-Erwartung zurück
  src/main.rs
Labels: none

fix(cli): usage immer auf stdout, exit code 0 für --help, 1 bei fehlenden Argumenten
  src/main.rs
  tests/cli.rs
Labels: tests

ci(semver): pass detected semver bump to release dry-run job
  .github/workflows/ci.yml
Labels: ci

fix(ci): quote file paths in CI workflow for consistency and reliability
  .github/instructions/general.instructions.md
  .github/workflows/ci.yml
Labels: ci

fix(ci): update actionlint installation method for reliability
  .github/workflows/ci.yml
Labels: ci

fix(ci): replace cargo doc with cargo rustdoc for generating documentation JSON
  .github/workflows/ci.yml
Labels: ci

fix(ci): update actionlint download URL to specific version for consistency
  .github/workflows/ci.yml
Labels: ci

fix(ci): remove redundant --no-deps flag from cargo rustdoc commands for clarity
  .github/workflows/ci.yml
Labels: ci

.github/labeler.yml:

puppet_module:
  - changed-files:
      - any-glob-to-any-file: ["src/puppet_module.rs"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/*"]

docs:
  - changed-files:
      - any-glob-to-any-file: ["README.md", "CONTRIBUTING.md", "docs/**"]

dependencies:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "Cargo.lock"]

tests:
  - changed-files:
      - any-glob-to-any-file: ["tests/**", "src/puppet_module.rs"]

release:
  - changed-files:
      - any-glob-to-any-file: ["Release.toml"]

pre-commit:
  - changed-files:
      - any-glob-to-any-file: [".pre-commit-config.yaml"]

deny:
  - changed-files:
      - any-glob-to-any-file: ["deny.toml"]
